# ignore vim temp files
*~
.*.swp
.*.swo

# ignore vim session files
*.vim

# ignore svn metadata
.svn/*
*/.svn/*

# project specific ignores
minicom.cap

# deleted file
c-work/a.out
c-work/main_test.c
